body, div {
  font-size: 1.1em;
  font-family: monospace;
  text-transform: capitalize;
  color: #00632e;
  background-color: #111411;
}
a,h1,h2,h3,h4 {
  color: #339d64;
}



h3 {
  color: #339d64;
  text-decoration: underline;
}
a:hover {
  color: #66b58b;
  text-decoration: none;
}
