<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="icon" href="assets/trtl-icon.png" type="image/x-icon">
    <meta name="msapplication-TileImage" content="assets/trtl-icon.png">
    <meta name="theme-color" content="#ffffff">
    <title>TurtleTurtle.org - TurtleCoin Fun, Fast, and Easy CryptoCurrency</title>
    <meta name="Description" content="TurtleCoin is a fun way to send money privately to friends or businesses. TurtleCoin is a community-developed, open source cryptocurrency that is easy to mine, has a graphical wallet, and is listed on exchanges for trade.">
    <meta name="Keywords" content="TurtleCoin, CryptoCurrency, Cryptonote, Cryptonight, Coin, Crypto, RockSteady, Bebop">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <br />
          <h1 class="">TURTLE TURTLE .ORG</h1>
          <h4 class="">→ a guide for the turtlecoin community</h4>
          <h6 class="" style="font-size: 0.6em;">
            <a href="turtlecoin:TRTLuxEnfjdF46cBoHhyDtPN32weD9fvL43KX5cx2Ck9iSP4BLNPrJY3xtuFpXtLxiA6LDYojhF7n4SwPNyj9M64iTwJ738vnJk">
              TRTLuxEnfjdF46cBoHhyDtPN32weD9fvL43KX5cx2Ck9iSP4BLNPrJY3xtuFpXtLxiA6LDYojhF7n4SwPNyj9M64iTwJ738vnJk</a>
          </h6>
          <h5 class="">Please donate if you find this useful</h5>
        </div>
      </div>
      <br />
      <section>
        {{ content }}
      </section>
      <br />
      <div class="row">
        <div class="col">
          <center>
            <br />
            <small>
              <a href="turtlecoin:TRTLuxEnfjdF46cBoHhyDtPN32weD9fvL43KX5cx2Ck9iSP4BLNPrJY3xtuFpXtLxiA6LDYojhF7n4SwPNyj9M64iTwJ738vnJk">
              TRTLuxEnfjdF46cBoHhyDtPN32weD9fvL43KX5cx2Ck9iSP4BLNPrJY3xtuFpXtLxiA6LDYojhF7n4SwPNyj9M64iTwJ738vnJk</a>
            </small>
            <br /> Please donate if you find this useful
          </center>
        </div>
      </div>
    </div>
  </body>
</html>
